body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111316;
    font-family: Arial, sans-serif;
}

.game-container {
    text-align: center;
    background: rgb(220, 237, 34);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10 10 10px rgba(0, 10, 10, 0.1);
}

.score-board {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 20px;
}

.choices button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: blue;
    color:white;
    border:none;
    
}

#result {
    font-size: 18px;
    margin: 20px 0;
    background-color: rgb(220, 237, 34);
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color:red;
    color:white;
}
