<html>
    <head>
        <style>
            *{
                margin:0px;
                padding:0%;
            }
            #menu{
            width:100%;
            height:15%;
            background-color:black;
            }
           button:hover{
            background-color: blanchedalmond;
           }
            #middle{
            padding-top:20px;
            background-color: darkgrey;
            width:100%;
            height:70%;
            }
            #footer{
            width:100%;
            height:12%;
            background-color:black;
            }
            </style>
    </head>
<div id="menu"></div>
<div id="middle"><h3><center>LOGGING OUT</center></h3><br><br>
<center><img src="https://tse2.mm.bing.net/th?id=OIP.-ot4kWskoWQ2PffDSXzDdQAAAA&pid=Api&P=0" ></img></center><br><br>
<center><button onclick="history.go(-4)">SIGN IN</button></center></div>
<footer>
    <div id="footer"></div>
</footer>
</html>